<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/errorLayout">
<head th:replace="~{layouts/errorLayout :: common_header(~{::title/text()},~{::link})}">
    <title>403</title>
</head>
<body>
<div layout:fragment="custom-content">
    <h1 class="error-number">403</h1>
    <h2>Access denied</h2>
    <p>Full authentication is required to access this resource. <a href="#">Report this?</a>
    </p>
</div>
</body>
</html>