<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.community.core.mapper.OauthClientDetailsMapper" >
  <resultMap id="BaseResultMap" type="org.community.core.domain.OauthClientDetails" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR" />
    <result column="client_secret" property="clientSecret" jdbcType="VARCHAR" />
    <result column="scope" property="scope" jdbcType="VARCHAR" />
    <result column="authorized_grant_types" property="authorizedGrantTypes" jdbcType="VARCHAR" />
    <result column="web_server_redirect_uri" property="webServerRedirectUri" jdbcType="VARCHAR" />
    <result column="authorities" property="authorities" jdbcType="VARCHAR" />
    <result column="access_token_validity" property="accessTokenValidity" jdbcType="INTEGER" />
    <result column="refresh_token_validity" property="refreshTokenValidity" jdbcType="INTEGER" />
    <result column="archived" property="archived" jdbcType="BIT" />
    <result column="trusted" property="trusted" jdbcType="BIT" />
    <result column="autoapprove" property="autoapprove" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="additional_information" property="additionalInformation" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>