<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.community.core.mapper.OauthCodeMapper" >
  <resultMap id="BaseResultMap" type="org.community.core.domain.OauthCode" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="authentication" property="authentication" jdbcType="LONGVARBINARY" />
  </resultMap>
</mapper>